@import 'blog.variables.config';

body > .modal-trans-bg {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index: $modal-zindex - 100;
    background: rgba(0, 0, 0, 0.7);
    //background: url("/images/modal_bg.png");
}

body > .modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    z-index: $modal-zindex;
    //background: url("/images/modal_bg.png");
}

.fade {
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.fade-child {
    opacity: 0;
    transition: opacity 1.0s ease-in;
}

.modal-bg.ng-enter,
.modal-bg.ng-leave {
    transition: all ease .2s;
}

.modal-bg.ng-enter,
.modal-bg.ng-leave.ng-leave-active {
    //background-color: rgba(0, 0, 0, 0.0);
    opacity: 0.0;
}

.modal-bg.ng-leave,
.modal-bg.ng-enter.ng-enter-active {
    // background-color: rgba(0, 0, 0, 0.8);
    opacity: 1.0;
}

.modal-content {
    display: block;
    position: absolute;
    left: 50%;
    width: $modal-width;
    margin-left: -$modal-width/2;
    margin-top: 100px;
    background: #fff;
    z-index: $modal-zindex+99;
    form {

        display: block;
        padding: 12px;
        .show {
            display: block;
        }
        .hide {
            display: none;
        }

        label {
            display: inline-block;
            font-size: 14px;
            padding-bottom: 2px;
            padding-top: 4px;
        }
        input:disabled {
            background: $color-light;
        }
        input[type="text"], input[type="password"] {
            display: block;
            width: 100%;
            height: 24px;
            margin-left: -2px;
            font-size: 16px;
            line-height: 24px;
        }

        fieldset {
            border: none;
            .hint-wrapper {
                width: 200px;
                position: absolute;
                //top: 22px;
                left: 200px;
                ul {
                    padding: 6px;
                    margin: 0;
                    background: $hint-bgColor;
                    border: 1px solid gray;
                    list-style: none;
                    li {
                        font-size: 12px;
                    }
                }
                span.arrow-top, span.arrow-bottom {
                    position: absolute;
                    top: 6px;
                    font-size: 12px;
                    z-index: $modal-zindex+100;
                }
                .arrow-top {
                    left: -6px;
                    color: #000;
                    z-index: $modal-zindex+99;
                }
                .arrow-bottom {
                    top: 0;
                    left: -4px;
                    position: absolute;
                    color: $hint-bgColor;
                }
            }
        }
        img.user-avart {
            @include imgRadius(100px);
            display: block;
        }
        div.select-avart {
            width: 210px;
            height: 50px;
            margin: 3px 0 2px 0;
            font-size: 0;
            color: #fff;
            text-align: center;
            background: $main-color-darken;
            line-height: 50px;
            cursor: pointer;
            i {
                display: inline-block;
                vertical-align: middle;
            }
            span.filename {
                display: inline-block;
                height: 14px;
                line-height: 14px;
                font-size: 14px;
                vertical-align: middle;
            }
        }
        fieldset[class="user-avart-wrapper"] {

        }
        label[for="user-avart"] {
            display: inline-block;

        }
        button.upload {
            display: inline-block;
        }
        textarea[name="userDescription"] {
            width: 100%;
            height: 80px;
            font-size: 14px;
        }
    }
    .modal-header {
        button.modal-close-btn {
            width: 30px;
            float: right;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 28px;
            font-weight: 700;
            background: none;
            border: none;
        }

        button.modal-close-btn:hover {
            color: $color-light;
            cursor: pointer;
        }
        h4 {
            display: block;
            padding: 0;
            margin: 0;
            width: 100%;
            height: 28px;
            font-size: 14px;
            color: $main-color;
            line-height: 28px;
            border-bottom: 1px solid $main-color-lighten;
            text-align: center;
        }

    }
    .modal-body {
        padding: 10px 0;
        img {
            width: 20px;
            height: 20px;
        }
        span {
            vertical-align: top;
            padding-left: 10px;
            font-size: 14px;
            line-height: 20px;
        }
    }
    .modal-footer {
        padding-bottom: 10px;
    }

    form.post-creator {
        textarea {
            display: block;
            width: 100%;
            margin-left: -2px;
            height: 100px;
            font-size: 14px;
        }
        input[type="raido"] {
            font-size: 14px;
        }
        ul.post-creator-tags {
            li {
                display: inline-block;
                height: 22px;
                margin-top: 5px;
                margin-right: 8px;
                span.tag-close {
                    font-weight: normal;
                    cursor: pointer;
                }
            }
        }

        div.input-wrapper {
            width: 100%;
            float: left;
            div.input-place {
                margin-right: 30px;
                input {
                    border-bottom-left-radius: 3px;
                    border-top-left-radius: 3px;
                    border: 1px solid $color-light;
                }

            }
        }

        button.tag-add {
            float: left;
            margin-left: -30px;
            width: 28px;
            height: 28px;
            font-size: 20px;
            color: #fff;
            background: $main-color-darken;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            border: none;
        }
    }
    .error-messages {
        display: inline-block;
        font-size: 12px;
        color: #CD5C5C;
    }
    .success-message {
        display: inline-block;
        font-size: 12px;
        color: #2b542c;
    }
    .pending-message {
        display: inline-block;
        img {
            width: 12px;
            height: 12px;
        }
    }

    .confirm-info {
        padding: 12px;
        font-size: 14px;
        color: $main-color-darken;
    }

}

.modal-content.ng-enter, .modal-trans-bg.ng-enter,
.modal-content.ng-leave, .modal-trans-bg.ng-leave {
    transition: all ease 0.7s;
}

.modal-content.ng-enter,
.modal-trans-bg.ng-leave,
.modal-content.ng-leave.ng-leave-active
.modal-trans-bg.ng-leave.ng-leave-active {
    opacity: 0.0;
}

.modal-content.ng-leave,
.modal-trans-bg.ng-leave,
.modal-content.ng-enter.ng-enter-active,
.modal-trans-bg.ng-enter.ng-enter-active {
    opacity: 1.0;
}

